*{
    margin:0px;
    padding: 0px;
    scrollbar-color: #0084ff;
}
body{
  background-size: auto;
  /* height: 100vh; */
    background-image: linear-gradient(#ffffff,hsl(0, 0%, 100%));
    font-family: 'poppins';
}